views/index.html
<!DOCTYPE html>
<html>
  <head>
    <title>Pablo - Design engaging images for your social media posts in under 30 seconds</title>
    <meta charset="utf-8">
    <link href="//yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic%7CUbuntu:300,400,700,300italic,400italic,700italic%7CJosefin+Slab:300,400,700,300italic,400italic,700italic%7CMerriweather:400,300,300italic,400italic,700,700italic%7CSatisfy%7CMontserrat:400,700%7COpen+Sans:300italic,400italic,700italic,400,300,700%7CHammersmith+One%7CRoboto:400,300,300italic,400italic,700,700italic&amp;amp;subset=latin,latin,latin,latin,latin,latin,latin,latin,latin" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/all.css">
    <script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/fabric/dist/fabric.min.js"></script>
    <script type="text/javascript" src="js/all.js"></script>
  </head>
  <body>
    <div class="wrapper wrapper_header">
      <div class="inner">
        <div class="header-title">
          <h1 class="header-title__title">Pablo</h1>
          <!-- /.header-title__title-->
          <h2 class="header-title__subtitle">Design engaging images for your social media posts in under 30 seconds</h2>
          <!-- /.header-title__subtitle-->
        </div>
        <!-- /.header-title-->
      </div>
      <!-- /.inner-->
    </div>
    <!-- /.wrapper wrapper_header-->
    <div class="wrapper wrapper_content">
      <div class="inner">
        <div class="loading-div js-loading-div"><i class="ss-icon ss-loading"></i></div>
        <!-- /.loading-div-->
        <div class="block block_left">
          <div class="b-textarea">
            <div class="b-textarea__textarea">
              <textarea cols="30" rows="10" class="b-textarea__input js-qoute"></textarea><i class="b-textarea__refresh js-refresh-quote ss-icon ss-refresh"></i>
            </div>
            <!-- /.b-textarea__textarea-->
            <div class="b-textarea__actions">
              <label class="b-textarea__sub-text-check">
                <input type="checkbox" class="js-sub-text-check"><span class="sub-text-toggle">Add secondary text</span>
              </label>
              <div class="b-textarea__add-logo"> <span>Add a logo</span>
                <input type="file" class="js-upload-logo">
              </div>
              <div class="b-textarea__second-text">
                <textarea cols="30" rows="10" class="b-textarea__input js-sub-text">A smaller headline :)</textarea>
              </div>
              <div class="b-textarea__logo cf">
                <div class="b-textarea__logo__headline b-select__headline b-headline">Logo:</div>
                <div class="b-textarea__logo__line">
                  <div class="b-textarea__logo-wrap js-logo"><i class="icon-remove ss-icon ss-delete js-logo-remove"></i></div>
                </div>
              </div>
            </div>
            <!-- /.b-textarea__actions-->
          </div>
          <!-- /.b-textarea-->
          <div class="b-select">
            <div class="b-select__headline b-headline">Headline Text Options:</div>
            <!-- /.b-select__headline-->
            <div class="b-select__line cf">
              <div class="b-select__select-group">
                <ul class="b-select__select b-select__font-family"><i class="ss-icon ss-navigatedown"></i>
                  <li class="b-select__item current js-font-family-current">Current One</li>
                  <ul class="b-select__sub">
                    <li data-value="Fredoka One" style="font-family: Fredoka One;" class="b-select__item js-font-family">Fredoka One</li>
                    <li data-value="Hammersmith One" style="font-family: Hammersmith One;" class="b-select__item js-font-family">Hammersmith One</li>
                    <li data-value="Josefin Slab" style="font-family: Josefin Slab;" class="b-select__item js-font-family">Josefin Slab</li>
                    <li data-value="Lato" style="font-family: Lato;" class="b-select__item js-font-family">Lato</li>
                    <li data-value="Merriweather" selected style="font-family: Merriweather;" class="b-select__item js-font-family">Merriweather</li>
                    <li data-value="Montserrat" style="font-family: Montserrat;" class="b-select__item js-font-family">Montserrat</li>
                    <li data-value="Open Sans" style="font-family: Open Sans;" class="b-select__item js-font-family">Open Sans</li>
                    <li data-value="Roboto" style="font-family: Roboto;" class="b-select__item js-font-family">Roboto</li>
                    <li data-value="Satisfy" style="font-family: Satisfy;" class="b-select__item js-font-family">Satisfy</li>
                    <li data-value="Ubuntu" style="font-family: Ubuntu;" class="b-select__item js-font-family">Ubuntu</li>
                  </ul>
                </ul>
                <ul class="b-select__select b-select__font-size"><i class="ss-icon ss-navigatedown"></i>
                  <li class="b-select__item current js-font-size-current">Size</li>
                  <ul class="b-select__sub">
                    <li data-value="20" class="b-select__item js-font-size">Small</li>
                    <li data-value="22" class="b-select__item js-font-size">Medium</li>
                    <li data-value="24" class="b-select__item js-font-size">Large</li>
                    <li data-value="26" class="b-select__item js-font-size">X-Large</li>
                  </ul>
                </ul>
                <ul class="b-select__select b-select__font-color"><i class="ss-icon ss-navigatedown"></i>
                  <li class="b-select__item current is-color js-font-color-current"></li>
                  <ul class="b-select__sub">
                    <li data-value="#fff" class="b-select__item js-font-color">
                      <div class="b-select__font-color-item b-select__font-color-item__white"></div>
                    </li>
                    <li data-value="#323B43" class="b-select__item js-font-color">
                      <div class="b-select__font-color-item b-select__font-color-item__black"></div>
                    </li>
                    <li data-value="#168EEA" class="b-select__item js-font-color">
                      <div class="b-select__font-color-item b-select__font-color-item__blue"></div>
                    </li>
                    <li data-value="#EE4F4F" class="b-select__item js-font-color">
                      <div class="b-select__font-color-item b-select__font-color-item__red"></div>
                    </li>
                  </ul>
                </ul>
              </div>
              <!-- /.b-select__select-group-->
              <div class="b-select__advanced-dropdown">
                <div class="b-adv-dropdown"><span class="b-adv-dropdown__text">Advanced &nbsp;<i class="b-adv-dropdown__icon ss-icon ss-navigatedown"></i>
                    <div class="b-adv-dropdown-popup">
                      <div class="b-adv-dropdown-popup__line b-adv-dropdown-popup__line_header">
                        <label>
                          <input type="checkbox" class="js-font-style"> Italics
                        </label>
                      </div>
                      <!-- /.b-adv-dropdown-popup__line b-adv-dropdown-popup__line_header-->
                      <div class="b-adv-dropdown-popup__line b-adv-dropdown-popup__styles">
                        <label>
                          <input type="radio" name="fontWeight" value="300" class="js-font-weight"> Light
                        </label>
                        <label>
                          <input type="radio" name="fontWeight" value="400" checked class="js-font-weight"> Regular
                        </label>
                        <label>
                          <input type="radio" name="fontWeight" value="700" class="js-font-weight"> Bold
                        </label>
                      </div>
                      <!-- /.b-adv-dropdown-popup__styles-->
                    </div>
                    <!-- /.b-adv-dropdown-popup--></span></div>
                <!-- /.b-adv-dropdown-->
              </div>
              <!-- /.b-select__advanced-dropdown-->
            </div>
            <!-- /.b-select__line-->
          </div>
          <!-- /.b-select-->
          <div class="b-background-options">
            <div class="b-background-options__title">Background Options:</div>
            <!-- /.b-background-options__title-->
            <div class="b-background-options__line cf">
              <div class="b-radio">
                <div class="b-radio-inputs">
                  <label class="b-radio-inputs__label b-radio-inputs__label-first">
                    <input type="radio" name="bg-option" value="normal" checked="checked" class="js-background-type"> Normal
                  </label>
                  <label class="b-radio-inputs__label">
                    <input type="radio" name="bg-option" value="blur" class="js-background-type"> Blurred
                  </label>
                  <label class="b-radio-inputs__label">
                    <input type="radio" name="bg-option" value="black" class="js-background-type"> Black & White
                  </label>
                </div>
                <!-- /.b-radio-inputs-->
              </div>
              <!-- /.b-radio-->
              <div class="b-checkbox-single">
                <input type="checkbox" checked="checked" class="js-bg-contrast">
                <label for="single-checkbox">Increased Contrast </label>
              </div>
              <!-- /.b-checkbox-single-->
            </div>
            <!-- /.b-background-options__line-->
            <div class="b-images">
              <ul class="b-images__list">
                <div class="b-images__div">
                  <li class="b-images__item b-images__item_upload">
                    <div class="b-images__item_upload__text">Upload Photo
                      <input type="file" class="js-upload-background">
                    </div>
                  </li>
                  <!-- /.b-images__item b-images__item_upload-->
                  <li class="b-images__item"><img src="img/1.jpg" alt="background photo" class="js-change-background"></li>
                  <!-- /.b-images__item-->
                  <li class="b-images__item"><img src="img/2.jpg" alt="background photo" class="js-change-background"></li>
                  <!-- /.b-images__item-->
                  <li class="b-images__item"><img src="img/3.jpg" alt="background photo" class="js-change-background"></li>
                  <!-- /.b-images__item-->
                  <li class="b-images__item"><img src="img/4.jpg" alt="background photo" class="js-change-background"></li>
                  <!-- /.b-images__item-->
                  <li class="b-images__item"><img src="img/5.jpg" alt="background photo" class="js-change-background"></li>
                  <!-- /.b-images__item-->
                  <li class="b-images__item"><img src="img/6.jpg" alt="background photo" class="js-change-background"></li>
                  <!-- /.b-images__item-->
                  <li class="b-images__item"><img src="img/7.jpg" alt="background photo" class="js-change-background"></li>
                  <!-- /.b-images__item-->
                  <li class="b-images__item"><img src="img/8.jpg" alt="background photo" class="js-change-background"></li>
                  <!-- /.b-images__item-->
                  <li class="b-images__item"><img src="img/9.jpg" alt="background photo" class="js-change-background"></li>
                  <!-- /.b-images__item-->
                </div>
                <!-- /.b-images__div-->
                <div class="b-images__div">
                  <li class="b-images__item"><img src="img/10.jpg" alt="background photo" class="js-change-background"></li>
                  <!-- /.b-images__item-->
                  <li class="b-images__item"><img src="img/11.jpg" alt="background photo" class="js-change-background"></li>
                  <!-- /.b-images__item-->
                  <li class="b-images__item"><img src="img/12.jpg" alt="background photo" class="js-change-background"></li>
                  <!-- /.b-images__item-->
                  <li class="b-images__item"><img src="img/13.jpg" alt="background photo" class="js-change-background"></li>
                  <!-- /.b-images__item-->
                  <li class="b-images__item"><img src="img/14.jpg" alt="background photo" class="js-change-background"></li>
                  <!-- /.b-images__item-->
                  <li class="b-images__item"><img src="img/15.jpg" alt="background photo" class="js-change-background"></li>
                  <!-- /.b-images__item-->
                  <li class="b-images__item"><img src="img/16.jpg" alt="background photo" class="js-change-background"></li>
                  <!-- /.b-images__item-->
                  <li class="b-images__item"><img src="img/17.jpg" alt="background photo" class="js-change-background"></li>
                  <!-- /.b-images__item-->
                  <li class="b-images__item"><img src="img/18.jpg" alt="background photo" class="js-change-background"></li>
                  <!-- /.b-images__item-->
                  <li class="b-images__item"><img src="img/19.jpg" alt="background photo" class="js-change-background"></li>
                  <!-- /.b-images__item-->
                </div>
                <!-- /.b-images__div-->
              </ul>
            </div>
            <!-- /.b-images-->
          </div>
          <!-- /.b-background-options-->
        </div>
        <!-- /.block block_left-->
        <div class="block block_right">
          <div class="b-main-image-wrap">
            <div class="b-main-image">
              <canvas id="mainCanvas" width="512" height="256"></canvas>
              <!-- /.b-main-image__text-->
            </div>
            <!-- /.b-main-image-->
            <div class="b-actions">
              <div class="b-actions__box b-actions__box_download"><a href="#" class="link-download js-save-result">Download</a></div>
              <!-- /.b-actions__box b-actions__box_download-->
            </div>
            <!-- /.b-actions-->
          </div>
          <!-- /.b-main-image-wrap-->
        </div>
        <!-- /.block block_right-->
      </div>
      <!-- /.inner-->
    </div>
    <!-- /.wrapper wrapper_content-->
  </body>
</html>

src/templates/index.jade
doctype html
html
  head
    title Pablo - Design engaging images for your social media posts in under 30 seconds
    meta(charset='utf-8')
    link(href='//yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Satisfy', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic%7CUbuntu:300,400,700,300italic,400italic,700italic%7CJosefin+Slab:300,400,700,300italic,400italic,700italic%7CMerriweather:400,300,300italic,400italic,700,700italic%7CSatisfy%7CMontserrat:400,700%7COpen+Sans:300italic,400italic,700italic,400,300,700%7CHammersmith+One%7CRoboto:400,300,300italic,400italic,700,700italic&amp;subset=latin,latin,latin,latin,latin,latin,latin,latin,latin', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='/css/all.css')
    script(type='text/javascript' src='vendor/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='vendor/fabric/dist/fabric.min.js')
    script(type='text/javascript' src='js/all.js')
  body
    .wrapper.wrapper_header
      .inner
        .header-title
          h1.header-title__title Pablo
          // /.header-title__title
          h2.header-title__subtitle Design engaging images for your social media posts in under 30 seconds
          // /.header-title__subtitle
        // /.header-title
      // /.inner
    // /.wrapper wrapper_header
    .wrapper.wrapper_content
      .inner
        .loading-div.js-loading-div
         i.ss-icon.ss-loading
        // /.loading-div
        .block.block_left
          .b-textarea
            .b-textarea__textarea
              textarea.b-textarea__input.js-qoute(cols='30', rows='10')
              i.b-textarea__refresh.js-refresh-quote.ss-icon.ss-refresh
            // /.b-textarea__textarea
            .b-textarea__actions
              label.b-textarea__sub-text-check
                input(class="js-sub-text-check", type="checkbox")
                span.sub-text-toggle Add secondary text
              .b-textarea__add-logo 
                span Add a logo
                input(type="file", class="js-upload-logo")
              .b-textarea__second-text
                textarea.b-textarea__input.js-sub-text(cols='30', rows='10') A smaller headline :)
              .b-textarea__logo.cf
                .b-textarea__logo__headline.b-select__headline.b-headline Logo:
                .b-textarea__logo__line
                  //-input
                  .b-textarea__logo-wrap.js-logo
                    i.icon-remove.ss-icon.ss-delete.js-logo-remove
            // /.b-textarea__actions
          // /.b-textarea
          .b-select
            .b-select__headline.b-headline Headline Text Options:
            // /.b-select__headline
            .b-select__line.cf
              .b-select__select-group
                ul.b-select__select.b-select__font-family
                  i.ss-icon.ss-navigatedown
                  li.b-select__item.current.js-font-family-current Current One
                  ul.b-select__sub
                    li.b-select__item.js-font-family(data-value='Fredoka One', style="font-family: Fredoka One;") Fredoka One
                    li.b-select__item.js-font-family(data-value='Hammersmith One', style="font-family: Hammersmith One;") Hammersmith One
                    li.b-select__item.js-font-family(data-value='Josefin Slab', style="font-family: Josefin Slab;") Josefin Slab
                    li.b-select__item.js-font-family(data-value='Lato', style="font-family: Lato;") Lato
                    li.b-select__item.js-font-family(data-value='Merriweather', selected, style="font-family: Merriweather;") Merriweather
                    li.b-select__item.js-font-family(data-value='Montserrat', style="font-family: Montserrat;") Montserrat
                    li.b-select__item.js-font-family(data-value='Open Sans', style="font-family: Open Sans;") Open Sans
                    li.b-select__item.js-font-family(data-value='Roboto', style="font-family: Roboto;") Roboto
                    li.b-select__item.js-font-family(data-value='Satisfy', style="font-family: Satisfy;") Satisfy
                    li.b-select__item.js-font-family(data-value='Ubuntu', style="font-family: Ubuntu;") Ubuntu
                ul.b-select__select.b-select__font-size
                  i.ss-icon.ss-navigatedown
                  li.b-select__item.current.js-font-size-current Size
                  ul.b-select__sub
                    li.b-select__item.js-font-size(data-value='20') Small
                    li.b-select__item.js-font-size(data-value='22') Medium
                    li.b-select__item.js-font-size(data-value='24') Large
                    li.b-select__item.js-font-size(data-value='26') X-Large
                ul.b-select__select.b-select__font-color
                  i.ss-icon.ss-navigatedown
                  li.b-select__item.current.is-color.js-font-color-current
                  ul.b-select__sub
                    li.b-select__item(data-value='#fff').js-font-color
                      .b-select__font-color-item.b-select__font-color-item__white
                    li.b-select__item(data-value='#323B43').js-font-color
                      .b-select__font-color-item.b-select__font-color-item__black
                    li.b-select__item(data-value='#168EEA').js-font-color
                      .b-select__font-color-item.b-select__font-color-item__blue
                    li.b-select__item(data-value='#EE4F4F').js-font-color
                      .b-select__font-color-item.b-select__font-color-item__red
              // /.b-select__select-group
              .b-select__advanced-dropdown
                .b-adv-dropdown
                  span.b-adv-dropdown__text Advanced &nbsp;
                    i.b-adv-dropdown__icon.ss-icon.ss-navigatedown
                    .b-adv-dropdown-popup
                      .b-adv-dropdown-popup__line.b-adv-dropdown-popup__line_header
                        label
                          input.js-font-style(type='checkbox')
                          |  Italics
                      // /.b-adv-dropdown-popup__line b-adv-dropdown-popup__line_header
                      .b-adv-dropdown-popup__line.b-adv-dropdown-popup__styles
                        label
                          input.js-font-weight(type='radio', name='fontWeight' value='300')
                          |  Light
                        label
                          input.js-font-weight(type='radio', name='fontWeight', value='400', checked)
                          |  Regular
                        label
                          input.js-font-weight(type='radio', name='fontWeight' value='700')
                          |  Bold
                      // /.b-adv-dropdown-popup__styles
                    // /.b-adv-dropdown-popup
                // /.b-adv-dropdown
              // /.b-select__advanced-dropdown
            // /.b-select__line
          // /.b-select
          .b-background-options
            .b-background-options__title Background Options:
            // /.b-background-options__title
            .b-background-options__line.cf
              .b-radio
                .b-radio-inputs
                  label.b-radio-inputs__label.b-radio-inputs__label-first
                    input(class='js-background-type' type='radio', name='bg-option', value='normal' checked='checked')
                    |  Normal
                  label.b-radio-inputs__label
                    input(class='js-background-type' type='radio', name='bg-option', value='blur')
                    |  Blurred
                  label.b-radio-inputs__label
                    input(class='js-background-type' type='radio', name='bg-option', value='black')
                    |  Black & White
                // /.b-radio-inputs
              // /.b-radio
              .b-checkbox-single
                input(class="js-bg-contrast" type='checkbox', checked='checked')
                label(for='single-checkbox') Increased Contrast 
              // /.b-checkbox-single
            // /.b-background-options__line
            .b-images
              ul.b-images__list
                .b-images__div
                  li.b-images__item.b-images__item_upload
                    .b-images__item_upload__text Upload Photo
                      input(type="file", class="js-upload-background")
                  // /.b-images__item b-images__item_upload
                  - for (var x = 1; x <= 9; x++)
                    li.b-images__item
                      img.js-change-background(src='img/'+x+'.jpg', alt='background photo')
                    // /.b-images__item
                // /.b-images__div
                .b-images__div
                  - for (var y = 10; y <= 19; y++)
                    li.b-images__item
                      img.js-change-background(src='img/'+y+'.jpg', alt='background photo')
                    // /.b-images__item
                // /.b-images__div
            // /.b-images
          // /.b-background-options
        // /.block block_left
        .block.block_right
          .b-main-image-wrap
            .b-main-image
              canvas#mainCanvas(width=512, height=256)
              // /.b-main-image__text
            // /.b-main-image
            .b-actions
              .b-actions__box.b-actions__box_download
                a.link-download.js-save-result(href='#') Download
              // /.b-actions__box b-actions__box_download
            // /.b-actions
          // /.b-main-image-wrap
        // /.block block_right
      // /.inner
    // /.wrapper wrapper_content
